:root {
    --brand-accent-color: #00856F;
    --brand-green-lght: #DCE9E2;
    --brand-grn-lght-02: #F7F9F9;
    --brand-biege: #FFFAF1;
    --brand-green-hover: #00453A;
    --secondary-deep-gray: #212529;
    --secondary-gray: #495057;
    --secondary-white: #FFFFFF;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
ol,
ul,
li,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    box-sizing: border-box;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
} 

.btn {
    display: flex;
    align-items: center;

    padding: 16px 32px;

    font-family: inherit;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--secondary-white);

    border-radius: 40px;
    border: none;
    background-color: var(--brand-accent-color);

    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.btn:hover,
.btn:focus {
    background-color: var(--brand-green-hover);
}
.title {
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: var(--secondary-deep-gray);
}

.header {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    background-color: var(--brand-green-lght);
    color: var(--brand-accent-color);

    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.header.scrolled {
    background-color: var(--brand-accent-color);
    color: var(--brand-grn-lght-02);
}
.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__icon {
    width: 134px;
    height: 19px;
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item {
    opacity: 0.6;

    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.nav__item:hover,
.nav__item:focus {
    opacity: 1;
}
.nav__item:not(:last-child) {
    margin-right: 32px;
    }
.nav__link {
    display: block;

    padding-top: 25px;
    padding-bottom: 26px;

    color: inherit;
}
.nav__item::after {
    display: block;
    content: "";
    height: 2px;
    background-color: var(--brand-accent-color);
    opacity: 0;

    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.nav__item:hover::after,
.nav__item:focus::after {
    opacity: 1;
}
.header.scrolled .nav__item::after {
    background-color: var(--brand-green-lght);
}
.header__btn {
    padding: 10px 24px;
    border-radius: 40px;
    border: 1px solid var(--brand-accent-color);
    color: var(--brand-accent-color);
    background-color: var(--brand-green-lght);

    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.header.scrolled .header__btn {
    color: var(--secondary-white);
    background-color: var(--brand-accent-color);
    border: 1px solid var(--secondary-white);
}

.mobile__menu--icon {
    display: none;
}
.mobile__menu {
    display: none;
}

.head {
    position: relative;
    padding-top: 152px;
    padding-bottom: 84px;
    background-color: var(--brand-green-lght);   
}
.head__img--wrapper {
    position: absolute;
    top: 74px;
    left: 57%;

    width: 420px;
}
.shadow--img {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: hue;
    filter: blur(18px);
}
.pretitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: var(--brand-accent-color);

    margin-bottom: 16px;
}
.head__title {
    max-width: 605px;
    width: 100%;

    margin-bottom: 24px;

    font-weight: 700;
    font-size: 52px;
    line-height: 130%;
    color: var(--secondary-deep-gray);
}
.head__text {
    max-width: 605px;
    width: 100%;

    font-size: 18px;
    line-height: 150%;
    color: var(--secondary-gray);

    margin-bottom: 32px;
}
.btn__icon {
    width: 24px;
    height: 24px;

    margin-right: 16px;

    background-image: url(./images/whatsapp.svg);
    background-size: contain;
    background-position: center;
}

.statistic {
    background-image: linear-gradient(180deg, #DCE9E2 0% 50%, #F7F9F9 50% 100%);
}
.statistic__list {
    position: relative;
    display: flex;

    background-color: var(--brand-biege);
    border-radius: 6px;
    border: 1px solid var(--brand-green-lght);

    padding-top: 60px;
    padding-bottom: 60px;
}
.statistic__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: calc(100% / 3);
}
.statistic__item:not(:last-child) {
    border-right-width: 1px;
    border-right-color: #00856f85;
    border-right-style: solid;
}
.statistic__numb {
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    color: var(--secondary-deep-gray);
}
.statistic__info {
    font-size: 16px;
    line-height: 24px;
    color: var(--brand-accent-color);
}

.features {
    padding-top: 160px;
    padding-bottom: 160px;

    background-color: var(--brand-grn-lght-02);
}
.features__pretitle {
    text-align: center;
}
.features__title {
    max-width: 498px;
    margin: 0px auto 64px auto;

    text-align: center;
}
.grid__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.grid__item {
    border-radius: 4px;
    border: 1px solid var(--brand-green-lght);
    background-color: var(--secondary-white);
    color: var(--secondary-gray);
    padding: 24px;

    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.grid__item:hover,
.grid__item:focus {
    transform: scale(1.1);
}
.check__icon {
    width: 24px;
    height: 24px;
    
    border-radius: 50%;
    background-color: var(--brand-green-lght);
    background-image: url(./images/check.svg);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;

    margin-bottom: 16px;
}
.card__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: var(--secondary-deep-gray);

    margin-bottom: 16px;
}

.doctor {
    background-color: var(--brand-biege);
    padding-bottom: 160px;
    padding-top: 160px;
}
.doctor > .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.doctor__img--wrapper {
    max-width: 480px;
}
.image__wrapper {
    position: relative;

    height: 100%;
    border-radius: 20px;
}
.image__wrapper::after {
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    display: block;
    width: 100%;
    height: 100%;
    
    background-image: linear-gradient(0deg, rgba(0, 133, 111, 0.15), rgba(0, 133, 111, 0.15));
    border-radius: 20px;
}
.content__wrapper {
    max-width: 573px;
    width: 100%;
}
.doctor__pretitle {
    margin-bottom: 10px;
}
.doctor__title {
    margin-bottom: 24px;
}
.doctor__text {
    line-height: 24px;
}

.contacts {
    padding-top: 160px;
    padding-bottom: 160px;
}
.contacts > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacts__content--wrapper {
    max-width: 404px;
    width: 100%;
}
.contacts__title {
    margin-bottom: 40px;
}
.client__img--wrapper {
    max-width: 575px;
}
.address__item {
    display: flex;
    align-items: center;
}
.address__item:not(:last-child) {
    margin-bottom: 16px;
}
.address__item:last-child {
    margin-bottom: 40px;
}
.address__icon {
    fill: var(--brand-accent-color);
    width: 24px;
    height: 24px;

    margin-right: 8px;
}

.footer {
    background-color: var(--brand-accent-color);

    padding-top: 80px;
    padding-bottom: 80px;
}
.footer > .container {
    display: flex;
    justify-content: space-between;
}
.footer__info {
    display: flex;
    flex-direction: column;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--brand-biege);
}
.footer__logo {
    margin-bottom: 24px;
}
.footer__logo--icon {
    width: 256px;
    height: 33px;

    position: relative;
    left: -15px;
}
.footer__corp {
    margin-bottom: 15px;
}
.footer__social {
    display: flex;
    align-items: center;
}
.social__icon {
    fill: var(--brand-biege);

    width: 24px;
    height: 24px;
}
.social__icon:not(:last-child) {
    margin-right: 32px;
}

@media screen and (max-width: 1200px) {
    .header {
        padding-top: 27px;
        padding-bottom: 27px;
        border-bottom-color: transparent;
    }
    .nav__list {
        display: none;
    } 
    .header__btn {
        display: none;
    }
    .header.scrolled .mobile__menu--icon {
        stroke: var(--brand-biege);
    }
    .mobile__menu--icon {
        stroke: var(--brand-accent-color);
        display: block;
        width: 40px;
        height: 40px;
    }
    .mobile__menu {
        position: absolute;
        left: 0;
        top: 72px;
        z-index: -1;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100vw;
        height: 100vh;
        background-color: var(--brand-accent-color);
        padding-top: 60px;

        transform: translateY(calc(-100vh - 72px));
        overflow-y: auto;

        transition-property: transform;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }
    .mobile__menu.is-open {
        transform: translateY(0);
    }
    .mob__menu--item {
        display: flex;
        justify-content: center;
        margin-bottom: 48px;
    }
    .mob__menu--link {
        font-weight: 700;
        font-size: 28px;
        line-height: 31px;
        color: var(--brand-biege);
    }
    .mobile__btn {
        padding: 16px 32px;
        border-radius: 40px;
        border: 1px solid var(--secondary-white);
        color: var(--brand-accent-color);
        background-color: var(--secondary-white);
        margin-bottom: 82px;

        font-family: inherit;
        font-weight: 700;
        font-size: 20px;
        line-height: 18px;
        text-transform: uppercase;
    
        transition-property: background-color, color;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }
    .mobile__btn:hover,
    .mobile__btn:focus {
        background-color: var(--brand-accent-color);
        color: var(--secondary-white);
    }
    .head__title {
        font-size: 34px;
        max-width: 100%;
        text-align: center;
    }
    .head__text {
        max-width: 100%;
        text-align: center;
    }
    .features {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .title {
        font-size: 30px;
        line-height: 39px;
    }
    .features__title {
        margin-bottom: 60px;
    }
    .grid__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .doctor,
    .contacts {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 768px) {
    .mob__menu--link {
        font-size: 24px;
    }
    .mobile__btn {
        font-size: 14px;
    }
    .head {
        padding-bottom: 0px;
    }
    .head > .container {
        display: block;
        text-align: center;
    }
    .head__btn {
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }
    .header__img--wrapper {
        position: relative;
        left: 0;
        top: 0;

        width: 100%;
        max-width: 420px;
        margin-right: auto;
        margin-left: auto;
    }
    .statistic__list {
        display: block;
        padding: 10px 80px;
    }
    .statistic__item{
        border: none;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .statistic__item:not(:last-child) {
        border: none;
    }
    .grid__wrapper {
        display: block;
    }
    .grid__item:not(:last-child) {
        margin-bottom: 32px;
    }
    .doctor>.container {
        display: block;
    }
    .doctor__pretitle {
        margin-bottom: 16px;
    }
    .doctor__text {
        margin-bottom: 60px;
    }
    .content__wrapper {
        margin-left: auto;
        margin-right: auto;
    }
    .doctor__img--wrapper,
    .client__img--wrapper {
        margin-left: auto;
        margin-right: auto;    
    }
    .contacts > .container {
        display: block;
    }
    .contacts__title {
        margin-bottom: 32px;
    }
    .address__item:last-child {
        margin-bottom: 32px;
    }
    .conacts__btn {
        margin-bottom: 60px;
    }
    .footer {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .footer > .container {
        display: block;
    }
    .footer__info {
        margin-bottom: 34px;

        font-size: 16px;
        line-height: 21px;
    }
    .social__icon:not(:last-child) {
        margin-right: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .head__title{
        max-width: 400px;  
        text-align: left;
    }
    .head__text {
        max-width: 400px;
        text-align: left;
    }
    .head__img--wrapper {
        left: 41%;
    }
    .doctor__img--wrapper {
        margin-right: 67px;
    }
    .contacts__content--wrapper {
        margin-right: 100px;
    }
}
@media screen and (max-width: 480px) {
    .container {
        padding-right: 24px;
        padding-left: 24px;
    }
}
